* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.primary-button {
    padding: 16px 12px;
    border: none;
    border-radius: 5px;
    background: #FF5959;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}


header {
    background-image: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url(../media/images/donation14.webp);
    width: 1440px;
    height: 669px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
}

.main-head {
    font-size: 65px;
    font-weight: 700;
    padding: 174px 307px 0px;

}

.sub-head {
    font-size: 18px;
    padding: 20px 375px 30px;
}

.title-today {
    color: #121212;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-top: 130px;
}

.today {
    text-align: center;
    margin: 0 auto;
    width: 1440px;
    height: 669px;
}

.para-today {
    color: #707070;
    font-size: 18px;
    padding: 20px 375px 50px 374px;

}

.today ul {
    display: flex;
    justify-content: center;
}

.money-list li {
    list-style-type: none;
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    margin-right: 22px;
    padding: 44px 24px;
    margin-bottom: 60px;
}

.money-list .two-hun {
    border-radius: 5px;
    border: 2px solid #FF5959;
    background: #FEE;
    color: #FF5959;
}

.short-para-today {
    color: #B3B3B3;
    font-size: 18px;
}

.line {
    margin: 9.5px 338px 30px;

}

.plan {
    text-align: center;
    margin: 0 auto;
    width: 1440px;
    /* height: 669px; */

}

.title-plan {
    font-size: 45px;
    font-weight: 700;
    margin-top: 130px;
    color: #121212;
}

.plan ul {
    display: flex;
    justify-content: center;
    /* margin-bottom: 110px; */
}

.plan-list li {
    list-style-type: none;
    margin-right: 24px;
}

.food {
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
    width: 360px;
    height: 352px;
}

.shelter {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
    width: 360px;
    height: 352px;
}

.edu {
    border-radius: 5px;
    background: #FFF4D6;
    width: 360px;
    height: 352px;
}

.plan-icon {
    padding: 62px 280px 0px 23px;
}

.p-title {
    padding: 30px 133px 16px 23px;
    font-size: 20px;
    color: #121212;
    text-align: left;
}

.p-para {
    text-align: left;
    padding: 0px 22px 54px 23px;
    color: #707070;
}

.right-pic {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1440px;
    /* height: 669px; */
}

.rp-content{
    margin-left: 157px;
    margin-top: 182.5px;
}

.donate-pic {
    width: 825px;
    height: 550px;
    margin-top: 110px;
}